//variable
$paragraphe: hsl(270, 7%, 64%);
$msgLeft: hsl(276, 55%, 52%);
$msgRight: hsl(271, 15%, 43%);
$titre: hsl(271, 36%, 24%);
$placeHolder: hsl(206, 6%, 79%);
$subHeading: linear-gradient(
  270deg,
  rgba(233, 66, 255, 1) 0%,
  rgba(136, 56, 240, 1) 73%
);
$walkInfoColor: linear-gradient(
  90deg,
  rgba(233, 66, 255, 1) 0%,
  rgba(136, 56, 240, 1) 73%
);
$forme1: linear-gradient(
  238deg,
  rgba(233, 66, 255, 1) 0%,
  rgba(136, 56, 240, 1) 73%
);
$form2: #f7f5fa;
$appBakground: hsl(270, 20%, 96%);
$submitBtnBackground: hsl(271, 36%, 24%);
$radioBtnOutline: hsl(289, 100%, 72%);
$marginMsg: 5px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  font-family: Rubik;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

.attribution {
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  a {
    text-decoration: none;
    color: hsl(228, 45%, 44%);
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.mockup-iphone {
  min-width: 320px;
  max-width: 320px;
  border: solid white 15px;
  border-radius: 30px;
  box-shadow: 1px 30px 73px -4px rgba(0, 0, 0, 0.37);
  background-color: $appBakground;
}

.msg-container {
  padding: 4px;
  display: flex;
  flex-direction: column;
}

.header {
  background: $subHeading;
  display: flex;
  align-items: center;
  padding: 30px 10px 10px 10px;
  position: relative;
  border-radius: 20px 20px 8px 8px;
  box-shadow: -2px 14px 15px -16px rgba(0, 0, 0, 0.32);
}

.encoche {
  background-color: white;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, 50%);
  width: 50%;
  height: 30px;
  z-index: 9999;
  border-radius: 0 0 10px 10px;
}

.fa-chevron-left {
  color: white;
  font-size: 1.5rem;
  margin: 5px;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.status {
  color: hsl(276, 100%, 81%);
  font-size: 0.9rem;
  font-weight: lighter;
}

.profile-image {
  border-radius: 50%;
  border: solid white 1.6px;
  width: 30px;
  margin: 5px;
}

.info-person {
  margin-left: 5px;
  p {
    margin: 4px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px;
  span {
    border: solid white 1.5px;
    margin: 1px;
    border-radius: 50%;
  }
}

.message {
  max-width: 65%;
  padding: 12px;
  margin: $marginMsg;
  font-size: 1rem;
}

.msg-received {
  background-color: #ede5f2;
  color: $msgLeft;
}

.msg-received,
.walk-info {
  border-radius: 15px 15px 15px 6px;
}

.msg-send {
  background-color: #ffffff;
  border-radius: 15px 15px 6px 15px;
}

.msg-send,
.img-send-bloc {
  align-self: flex-end;
}

.img-send-bloc {
  display: flex;
  justify-content: flex-end;
  margin: $marginMsg;
  img {
    width: 20%;
    border-radius: 15%;
    margin: 5px;
  }
}

.walk-info {
  width: 78%;
  padding: 15px;
  margin: $marginMsg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: $walkInfoColor;
  div {
    display: flex;
    align-items: center;
    label,
    p {
      margin: 3px;
    }
    input[type="radio"] {
      display: none;
    }
    input[type="radio"] + label {
      border: 1px solid $radioBtnOutline;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 50%;
      display: block;
      width: 15px;
      height: 15px;
      cursor: pointer;
    }
    input[type="radio"]:checked + label {
      background-color: rgb(253, 253, 253);
    }
  }
}

.price {
  font-weight: bold;
  font-size: 1.5rem;
}

form {
  position: relative;
  margin: 10px;
  display: flex;
  justify-content: center;
  textarea {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px 0 0 15px;
    border-radius: 50px;
    border: none;
    resize: none;
  }
  textarea::placeholder {
    color: $placeHolder;
  }
}

.btn {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: $submitBtnBackground;
  border-radius: 100%;
  color: white;
  width: 30px;
  height: 30px;
  i {
    font-size: 1.5rem;
  }
}

.presentation {
  width: 100%;
  margin-left: 15%;
}

.title {
  font-size: 4rem;
  letter-spacing: 2px;
  color: $titre;
  font-weight: 500;
  white-space: nowrap;
}

.paragraphe {
  font-size: 1.6rem;
  color: $paragraphe;
  line-height: 30px;
  margin-top: 6%;
}

.forme1 {
  position: absolute;
  width: 30%;
  height: 90vh;
  background: $forme1;
  z-index: -1;
  top: 0;
  left: -5%;
  border-radius: 0 0 500px 500px;
}

.forme2 {
  position: absolute;
  bottom: 0;
  right: -10%;
  width: 35%;
  height: 85%;
  background-color: $form2;
  z-index: -1;
  border-radius: 500px 500px 0 0;
}

@media screen and (max-width: 875px) {
  .content {
    flex-direction: column;
    width: 100%;
  }

  .mockup-iphone {
    box-shadow: -5px 10px 44px -24px rgba(0, 0, 0, 0.75);
    min-width: 280px;
    max-width: 280px;
  }

  .header {
    padding: 20px 10px 10px 10px;
  }

  .encoche {
    height: 25px;
  }

  .presentation {
    margin: 30px 0 50px 0;
    text-align: center;
    width: 80%;
  }

  .forme1,
  .forme2 {
    height: 50vh;
    width: 40%;
  }

  .price {
    font-size: 1.2rem;
  }
}

.transition-opacity {
  transition: opacity 1s;
}
