* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  width: 100%;
  font-family: Rubik; }

html,
body {
  height: 100vh; }

.attribution {
  font-size: 1.1rem;
  text-align: center; }
  .attribution a {
    text-decoration: none;
    color: #3e52a3; }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }

.mockup-iphone {
  width: 18%;
  border: solid white 15px;
  border-radius: 30px;
  box-shadow: 1px 30px 73px -4px rgba(0, 0, 0, 0.37);
  background-color: #f5f3f7; }

.msg-container {
  padding: 4px;
  display: flex;
  flex-direction: column; }

.header {
  background: linear-gradient(270deg, #e942ff 0%, #8838f0 73%);
  display: flex;
  align-items: center;
  padding: 30px 10px 10px 10px;
  position: relative;
  border-radius: 20px 20px 8px 8px;
  box-shadow: 0 1.5px 5.9px -82px rgba(0, 0, 0, 0.276), 0 3.7px 14.9px -82px rgba(0, 0, 0, 0.395), 0 7.6px 30.5px -82px rgba(0, 0, 0, 0.495), 0 15.7px 62.8px -82px rgba(0, 0, 0, 0.614), 0 43px 172px -82px rgba(0, 0, 0, 0.89); }

.encoche {
  background-color: white;
  position: absolute;
  left: 50%;
  top: -30%;
  transform: translate(-50%, 50%);
  width: 50%;
  height: 30px;
  z-index: 9999;
  border-radius: 0 0 10px 10px; }

.fa-chevron-left {
  color: white;
  font-size: 1.5rem;
  margin: 5px; }

.name {
  font-size: 1.5rem;
  font-weight: bold;
  color: white; }

.status {
  color: #d89eff;
  font-size: 0.9rem;
  font-weight: lighter; }

.profile-image {
  border-radius: 50%;
  border: solid white 1.6px;
  width: 30px;
  margin: 5px; }

.info-person {
  margin-left: 5px; }
  .info-person p {
    margin: 4px; }

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 10px; }
  .menu span {
    border: solid white 1.5px;
    margin: 1px;
    border-radius: 50%; }

.message {
  max-width: 55%;
  padding: 12px;
  margin: 5px; }

.msg-received {
  background-color: #ede5f2;
  color: #9241c8; }

.msg-received,
.walk-info {
  border-radius: 15px 15px 15px 6px; }

.msg-send {
  background-color: #ffffff;
  border-radius: 15px 15px 6px 15px; }

.msg-send,
.img-send-bloc {
  align-self: flex-end; }

.img-send-bloc {
  display: flex;
  justify-content: flex-end;
  margin: 5px; }
  .img-send-bloc img {
    width: 20%;
    border-radius: 15%;
    margin: 5px; }

.walk-info {
  width: 80%;
  padding: 15px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: linear-gradient(90deg, #e942ff 0%, #8838f0 73%); }
  .walk-info div {
    display: flex;
    align-items: center; }
    .walk-info div label,
    .walk-info div p {
      margin: 3px; }
    .walk-info div input[type="radio"] {
      display: none; }
    .walk-info div input[type="radio"] + label {
      border: 1px solid #e570ff;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 50%;
      display: block;
      width: 15px;
      height: 15px;
      cursor: pointer; }
    .walk-info div input[type="radio"]:checked + label {
      background-color: #fdfdfd; }

.price {
  font-weight: bold;
  font-size: 1.5rem; }

form {
  position: relative;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center; }
  form textarea {
    display: flex;
    align-items: center;
    width: 95%;
    padding: 2px;
    border-radius: 50px;
    border: none;
    resize: none; }
  form textarea::placeholder {
    color: #c6cacd; }

.btn {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent; }

.fa-chevron-circle-right {
  background-color: transparent;
  color: #3e2753;
  padding: 10px;
  border-radius: 100%;
  font-size: 3.2rem; }
